 /* Fonts */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:wght@700&display=swap');



 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 	font-family: 'Inter', sans-serif;
 }
 html {
 	font-size: 62.5%;
 }

 body {
 	background-color: #f2f2f2;
 }

 #main-container {
 	background: #ef6c57;
 }

 #pomodoit, #controlButton, #resetButton  {
 	color: #f2f2f2;
 }

 #taskButton {
 	background: #f2f2f2;
 	border-radius: 3px;
 	border: none;
 	color: #ef6c57;
 	font-size: 2.0rem;
 	font-weight: 900;
 	letter-spacing: 1px;
 	cursor: pointer;
 }

 #taskButton:active {
 	background-color: #b9e6d3; 
 	box-shadow: 0 5px #666;
 	transform: translateY(4px);
 }

/* ------------------------------------------------------------------------ 
/* Start of Navigation Bar */
.nav-item {
	letter-spacing:2px;
	transition: 0.3s;
	color: #f2f2f2 !important;
}
/* End of Navigation Bar */
/* ------------------------------------------------------------------------ */
/* Start of [Pomodoro, Short Break, Long Break] tabs */
.timer-mode {
	color: #1e1e1e;
	transition: all 0.3s ease-in-out;
	background: #ef6c57;
	border: none;
	margin-right: 1em;
}

.active, .timer-mode:active {
	/*background: hsl(0, 100%, 84%);*/
	background: #ef6c57;
	border: solid 1px #f2f2f2;
	border-radius: 3px;
}

.timer-mode:visited {
	background: hsl(0, 100%, 94%);
}
/* End of [Pomodoro, Short Break, Long Break] tabs 
/* ------------------------------------------------------------------------ */
/* Start of Music dropdown */
.dropbtn {
	cursor: pointer;
	background: #f2f2f2;
 	border-radius: 3px;
 	border: none;
 	color: #ef6c57;
 	font-size: 2.0rem;
 	font-weight: 900;
 	letter-spacing: 1px;
 	cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #b9e6d3; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f2f2f2;}

.show {display:block;}
/* End of Music dropdown */
/* ------------------------------------------------------------------------ */

/* Start of Media Queries */
@media only screen and (max-width: 2000px) {
	/* Laptop screen */
	#pomodoit, .nav-item {
		font-size: 1.65rem;
	}
	.timer-mode {
		height: 4rem;
		width: 15rem;
		font-size: 1.5rem;
		color: #f2f2f2;
	}
	#pomodoroCount {
		font-size: 1.5rem;
		color: #f2f2f2;
		opacity: .85;
	}
	#timerCountdown {
		height: 25rem;
		width: 30rem;
	}
	#minutes, #colon, #seconds{
		font-size: 12rem;
		font-family: 'Nunito', sans-serif;
		color: #f2f2f2;
	}
	#main-container {
		border-radius: 8px;
	}
	#taskButton, .dropbtn {
		height: 5rem;
		width: 18rem;
	}
}
@media only screen and (max-width: 1440px) {
	/* Ipad Pro, ipad air, surface pro 7 */
	#pomodoit, .nav-item {
		font-size: 1.60rem;
	}
}
@media only screen and (max-width: 960px) {
	#pomodoit, .nav-item {
		font-size: 1.55rem;
	}
	.timer-mode {
		height: 3.733rem;
		width: 14.00rem;
		font-size: 1.5rem;
		color: #f2f2f2;
	}
	#timerCountdown {
		height: 26rem;
		width: 26rem;
	}
}
@media only screen and (max-width: 768px) {
	/* default iPad screens - IPAD MINI*/
	#pomodoit, .nav-item {
		font-size: 1.5rem;
	}
	.timer-mode {
		height: 3.2rem;
		width: 12rem;
		font-size: 1.4rem;
		color: #f2f2f2;
	}
	#pomodoroCount{
		font-size: 1.4rem;
	}
	#timerCountdown {
		height: 30rem;
		width: 30rem;
	}
}
@media only screen and (max-width: 720px) {
	/*For surface duo*/
	#main-container {
		border-radius: 0px;
	}
}
@media only screen and (max-device-width: 480px) {
	/* Iphone XR, s20 ultra*/
	#pomodoit, .nav-item {
		font-size: 1.4rem;
	}
	.timer-mode {
		height: 2.667rem;
		width: 10rem;
		font-size: 1.3rem;
		color: #f2f2f2;
	}
	#pomodoroCount {
		font-size: 1.3rem;
	}
	#timerCountdown {
		height: 20rem;
		width: 30rem;
	}
	#minutes, #colon, #seconds{
		font-size: 9.3rem;
		font-family: 'Nunito', sans-serif;
		color: #f2f2f2;
	}
	#main-container {
		border-radius: 0px;
	}
}

@media only screen and (max-device-width: 400px) {
	/*Iphone10 Iphone 12 pro, pixel, s8+  */
	.nav-item {
		font-size: 1rem;
	}
	.timer-mode {
		height: 2.4rem;
		width: 9rem;
		font-size: 1.3rem;
		color: #f2f2f2;
	}
	#pomodoroCount {
		font-size: 1.3rem;
	}
}
@media only screen and (max-device-width: 350px) {
	/* For Galaxy Fold, iphone 5 & SE */
	#pomodoit, .nav-item {
		font-size: 1rem;
	}
	.timer-mode {
		height: 2.0rem;
		width: 7rem;
		font-size: 1.1rem;
		color: #f2f2f2;
	}
	#timerCountdown {
		height: 20rem;
		width: 20rem;
	}
	#pomodoroCount {
		font-size: 1.1rem;
	}
}
/* End of Media Queries */

/* ------------------------------------------------------------------------ */