* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	background-color: #f2f2f2;
}
#container {
	background: #ef6c57;
}
#main-container {
	border-radius: 8px;
}

/* ------------------------------------------------------------------------ */
/* Start of Navigation Bar */
.nav-item {
	letter-spacing:2px;
	transition: 0.3s;
}
.nav-item:hover{
	color: #f2f2f2 !important;
}
/* End of Navigation Bar */

/* ------------------------------------------------------------------------ */

/* Start of [Pomodoro, Short Break, Long Break] tabs */
.timer-mode {
	color: #1e1e1e;
	transition: all 0.3s ease-in-out;
	background: #ef6c57;
	border: none;
	margin-right: 1em;
}

.active, .timer-mode:active {
	/*background: hsl(0, 100%, 84%);*/
	background: #ef6c57;
	border: solid 1px #f2f2f2;
	border-radius: 3px;
}

.timer-mode:visited {
	background: hsl(0, 100%, 94%);
}

/* End of [Pomodoro, Short Break, Long Break] tabs 

/* ------------------------------------------------------------------------ */

/* Start of Media Queries */
@media only screen and (max-width: 2000px) {
	/* Laptop screen */
	#pomodoit, .nav-item {
		font-size: 1.65rem;
	}
	.timer-mode {
		height: 4rem;
		width: 15rem;
		font-size: 1.65rem;
	}
	#timerCountdown {
		height: 30rem;
		width: 30rem;
	}
	#minutes, #colon, #seconds{
		font-size: 10rem;
	}
}
@media only screen and (max-width: 1440px) {
	/* Ipad Pro */
	#pomodoit, .nav-item {
		font-size: 1.60rem;
	}
	.timer-mode {
		height: 4rem;
		width: 15rem;
		font-size: 1.65rem;
	}
	#timerCountdown {
		height: 30rem;
		width: 30rem;
	}
	#minutes, #colon, #seconds{
		font-size: 10rem;
	}
}
@media only screen and (max-width: 960px) {
	#pomodoit, .nav-item {
		font-size: 1.55rem;
	}
	.timer-mode {
		height: 3.733rem;
		width: 14.00rem;
		font-size: 1.6rem;
	}
	#timerCountdown {
		height: 26rem;
		width: 26rem;
	}
	#minutes, #colon, #seconds{
		font-size: 10rem;
	}
}
@media only screen and (max-width: 768px) {
	/* default iPad screens */
	#pomodoit, .nav-item {
		font-size: 1.5rem;
	}
	.timer-mode {
		height: 3.2rem;
		width: 12rem;
		font-size: 1.5rem;
	}
	#timerCountdown {
		height: 30rem;
		width: 30rem;
	}
	#minutes, #colon, #seconds{
		font-size: 10rem;
	}
}
@media only screen and (max-device-width: 480px) {
	/* For Pixel 2 & XL*/
	#pomodoit, .nav-item {
		font-size: 1.4rem;
	}
	.timer-mode {
		height: 2.667rem;
		width: 10rem;
		font-size: 1.2rem;
	}
	#timerCountdown {
		height: 25rem;
		width: 25rem;
	}
	#minutes, #colon, #seconds{
		font-size: 8rem;
	}
}

@media only screen and (max-device-width: 400px) {
	/* styles for mobile browsers smaller than 480px; iphone5, Galaxy S5, Moto G4, Iphone10 */
	.nav-item {
		font-size: 1rem;
	}
	.timer-mode {
		height: 2.4rem;
		width: 9rem;
		font-size: 1.2rem;
	}
	#timerCountdown {
		height: 25rem;
		width: 25rem;
	}
	#minutes, #colon, #seconds{
		font-size: 8rem;
	}
}
@media only screen and (max-device-width: 350px) {
	/* For Galaxy Fold, iphone 5 & SE */
	#pomodoit, .nav-item {
		font-size: 1rem;
	}
	.timer-mode {
		height: 2.0rem;
		width: 7.5rem;
		font-size: 1rem;
	}
	#timerCountdown {
		height: 25rem;
		width: 25rem;
	}
	#minutes, #colon, #seconds{
		font-size: 8rem;
	}
}
/* End of Media Queries */

/* ------------------------------------------------------------------------ */